@import "variables";

#photo-upload {
  @extend %dark-section;
}

#photo-upload-file-list {
  @extend %light-section;
}

.photo-upload-progress {
  background: red;
}

#photo-upload,
#photo-upload-file-list {

  .photo-upload-content {
    @extend .maximum;

    overflow: hidden;
    max-width: 721px;
    margin: 0 auto;
    text-align: center;

    p {
      padding: 0;
      margin: 0;
    }

    .btn-photo-upload {
      color: $colour2;
      background: $colour10;
      border-color: $colour6;
    }

    .photo-upload-or {
      margin: 5px auto 5px;
    }

    .photo-upload-drop-zone {
      height: 155px;
      border: 3px dashed $colour6;
      padding: 30px;
      overflow: hidden;

      &.ng-hide-add.ng-hide-add-active,
      &.ng-hide-remove.ng-hide-remove-active {
        -webkit-transition: all linear 1s;
        transition: all linear 1s;
      }

      &.ng-hide {
        padding: 0 30px;
        height: 0;
        border-width: 0;
        line-height: 0;
      }
    }

    .photo-upload-drop-zone--highlight {
      border-color: $colour1;
    }

    @media all and (max-width: 720px) {
      p {
        padding: 0 5px;
      }
    }
  }
}

#photo-upload-file-list {
  * {
    text-align: left;
  }

  .photo-upload-all-button {
    margin: 0 auto;
  }
}