@import "compass/css3",
        "_variables",
        "_fonts";

* {
  margin: 0;
  padding: 0;
  min-height: 0;

  &::selection {
    background: $colour1;
    color: $colour10;
  }
}

html, body {
  width: 100%; height: 100%;
  font: 400 14px/20px $bodyFont;
  letter-spacing: 0.04em;
  -webkit-text-size-adjust: none;
}

a {
  outline: none;
}

a img {
  border: none;
}

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0;
}

h1 {
  font: 700 55px/55px $titleFont;
  color: $colour7;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px 0;
}

h2 {
  font: 400 25px/25px $titleFont;
  color: $colour7;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font: 700 22px/22px $titleFont;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 10px 0;
}

h4 {
  font: 400 16px/16px $titleFont;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 20px 0;
}

.maximum {
  width: auto; height: auto;
  max-width: 1300px;
  margin: 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

%section {
  position: relative;
  padding: 35px 0;
  border-bottom: 1px solid;

  p {
    padding: 0 0 15px 0;
  }

  @media all and (max-width: 720px) {
    padding: 5px 0;
  }
}

%colour-section {
  @extend %section;

  background-color: $colour1;
  border-bottom: 1px solid $colour2;
  border-top: 1px solid $colour2;

  h3 {
    color: $colour3;
  }

  h4 {
    color: $colour2;
  }

  p {
    color: $colour4;
  }
}

%dark-section {
  @extend %section;

  background: $colour5;
  border-color: $colour1;

  h3 {
    color: $colour7;
  }

  h4 {
    color: $colour8;
  }

  *, p, a {
    color: $colour9;
  }
}

%light-section {
  @extend %section;

  background-color: $colour10;
  border-color: $colour6;

  h3 {
    color: $colour11;
  }

  h4 {
    color: $colour12;
  }

  *, p, a {
    color: $colour5;
  }
}

.icon-rose {
  background: image_url("rose-icon2.png") no-repeat center;
  width: image_width("rose-icon2.png");
  height: image_height("rose-icon2.png");
  margin: 15px  auto;

  @media all and (max-width: 720px) {
    display: none;
  }
}

#footer {
  @extend %dark-section;

  padding: 20px 0 5px 0;
  border: none;

  p {
    font: 400 12px/20px $bodyFont;
    text-align: center;
  }
}

@import "_home",
        "_the-couple",
        "_save-the-date",
        "_order-of-the-day",
        "_accommodation",
        "_invitaion",
        "_giftlist",
        "_songs",
        "_photo-upload";
