<div id="accommodation">
  <div class="accommodation-content">
    <h3>Accommodation</h3>
    <p>
      We are so happy you plan to attend our wedding. The wedding ceremony and reception is being held at Craig y Nos Castle on Saturday the 15th of November 2014.
      We are planning an intimate  adult only weekend celebrating with our dear friends and family.
      We have exclusive use of the castle with very quirky accommodation at the venue.
    </p>
    <p>
      We have an arrangement with the castle for a B&B rate of £75 per guest, or £150 per double room.
      In order to ensure everyone can be accommodated, we are organising the allocation of rooms for guests. 
      Please contact us and we will advise you which room to quote when booking with reception.
    </p>
    <p>
      The castle is situated in the Brecon Beacons National Park and is some way from neighbouring towns with little alternative accommodation.
      Taxis are few and far between and charge a premium on Saturday nights to travel so far into the Park.
      Make the most of the weekend, party til dawn, share a hearty breakfast and join us for a refreshing walk around the Park on Sunday.
    </p>
      Please let us know if you intend to stay for Friday night as we are arranging accommodation early because there is another wedding on that evening.

      We look forward to seeing you at the celebrations
    </p>
  </div>
</div>
