<div id="accommodation">
  <div class="accommodation-content">
    <h3>Accommodation</h3>
    <ul class="accommodation-points">
      <li>We have exclusive use of Craig-Y-Nos Castle for all guests on the Wedding day</li>
      <li>Bed & Breakfast rate is £75 per guest</li>
      <li>Please email us on <a href="mailto:wedding@melindaandcraig.com?subject=Guest%20Booking%20Information&body=Dear%20Melinda%20and%20Craig%2C%0A%0AI%20would%20like%20the%20booking%20information%20for%20your%20wedding%20at%20Craig-Y-Nos%20Castle%20on%2015th%20November%202014.%20Please%20kindly%20reply%20with%20all%20the%20information%20I%20require%20to%20complete%20my%20booking.%0A%0ARegards%2C%0A">wedding@melindaandcraig.com</a> for booking information</li>
    </ul>
    <div class="icon-rose"></div>
    <p>
      We are planning an intimate adult only weekend, celebrating with our dear friends and family.
    </p>
    <p>
      The castle is situated in the Brecon Beacons National Park, some way from neighbouring towns with little alternative accommodation.
      Taxis are few and far between, charging a premium on Saturday nights.
    </p>
    <p>
      So make the most of the weekend, party til dawn, share a hearty breakfast and join us for a refreshing walk around the Park on Sunday.
    </p>
    <p>
      We are arriving at the castle on Friday and welcome you to join us. However, there is another wedding booked, so accommodation in the castle may be limited.
    </p>
    <div class="directions-Container">
      <h3>Directions</h3>
      <div class="directions-map">
        <iframe width="720" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d315696.7354507286!2d-3.409546372431252!3d51.81747484363039!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e4f82a1408603%3A0xdcbc5ab5baef9c6f!2sCraig+Y+Nos+Castle!5e0!3m2!1sen!2suk!4v1402226267468"></iframe>
      </div>
    </div>
  </div>
</div>
