<div id="giftlist">
    <div class="giftlist-content">
        <h3>Gift List</h3>
        <p>
            Ultimately, you travelling from far and wide to attend our wedding is a gift in itself and we are so happy that you wish to join us and share our special day.

        <p/>
        <p>
            As many of you know, we have all of the material necessities of life, however if you would like to offer us a gift we would be very grateful for donations towards the honeymoon of a lifetime on the Orient Express.
        </p>

        <div class="journey-Container">
            <div class="journey-map">
                <iframe width="720" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://mapsengine.google.com/map/embed?mid=zPqDRrxmYIZM.kxQHAA1t-5JQ"></iframe>
            </div>
        </div>

        <div class="giftPurchase-Container">
            <div class="giftPurchase-list">
                <iframe width="800" height="1780" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="http://melindaandcraig.zankyou.com/uk/wedding-list/widget/num/18/view/list?page=1"></iframe>
            </div>
        </div>
    </div>
</div>
