<div class="invitation-Background">
</div>
<div class="invitation-content-Container">
    <div class="invitation-Content">​
        <div class="invitation--line">Melinda Bramwell-King</div>
        <div class="invitation--line">and</div>
        <div class="invitation--line">Craig Anderson</div>
        <div class="invitation--line">request the honour of your presence for the</div>
        <div class="invitation--line">celebration of their wedding​</div>
        <div class="invitation--line">​at Craig Y Nos Castle​</div>
        <div class="invitation--line">Brecon Road, Pen Y Cae​ Powys</div>
        <div class="invitation--line">Wales, SA9 1GL​</div>
        <img class="invitation-flower" src="/images/single_red_rose_all_white_bg.png">
        <div class="invitation--line">On Saturday 15th of November 2014</div>
        <div class="invitation--line">​At 1pm followed by an evening reception</div>
        <div class="invitation--line">Dress Code: Cocktail / Evening Attire</div>
    </div>

    <div class="invitation-flower-border--top"></div>
    <div class="invitation-flower-border--right"></div>
    <div class="invitation-flower-border--bottom"></div>
    <div class="invitation-flower-border--left"></div>
</div>
