<div class="save-the-date-Background">
</div>
  <div class="save-the-date-Content">
    <img src="/images/single_red_rose_all_white_bg.png">
    <div class="save-the-date-Header">Please Save The Date</div>
    <div class="save-the-date-text-Line1">For the wedding of</div>
    <div class="save-the-date-text-Line2">Melinda Bramwell-King</div>
    <div class="save-the-date-text-Line3">and</div>
    <div class="save-the-date-text-Line4">Craig Anderson</div>
    <div class="save-the-date-text-Line5">On Saturday the Fifteenth of November Two Thousand and Fourteen</div>
    <!--div class="save-the-date-text-Line5">On Saturday the 15th of November 2014</div-->
    <div class="save-the-date-text-Line6">Brecon Beacons, Wales</div>
    <div class="save-the-date-text-Line7">A Formal Invitation will follow shortly</div>
  </div>