<div id="songs">

    <div class="songs-content">
        <h3>Ceremony Songs</h3>
        <p>
            During the ceremony we shall be raising our voices in song and would love for you to join in with us. The three songs that will be sung can be found below so everyone can have a little practice beforehand.
        </p>

        <div class="song-Container">
            <div class="song-video">
                <iframe  width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="//www.youtube.com/embed/IPMA5I3-0Jw"></iframe>
            </div>
        </div>
        <div class="song-Container">
            <div class="song-video">
                <iframe  width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="//www.youtube.com/embed/3091MHksLM4"></iframe>
            </div>
        </div>
        <div class="song-Container">
            <div class="song-video">
                <iframe  width="320" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="//www.youtube.com/embed/vRpaxb6dP7k"></iframe>
            </div>
        </div>
    </div>
</div>