<!-- The Couple -->
<div id="the-couple">
  <div class="maximum">
    <div id="melinda">
      <div class="content">
        <div class="padding">
          <h3>The Bride</h3>
          <h4>Melinda Bramwell-King</h4>
          <p>Melinda was born and raised in the quiet city of Perth in Western Australia.</p>
          <p>As a child, always hoping for adventure and excitement, Melinda dreamed of travelling the world. After University, she decided to seek her fortune far from home, exploring Europe and eventually settling in England.</p>
          <p>Over the years, Melinda has travelled widely throughout the world while also establishing herself well as a Senior Data Analyst in London. She continues to persue her passion for Historical Re-enacting, Costume Design, Karaoke, Skiing and Scuba Diving.</p>
        </div>
      </div>
    </div>
    <div id="craig">
      <div class="content">
        <div class="padding">
          <h3>The Groom</h3>
          <h4>Craig Anderson</h4>
          <p>Craig is a Londoner through and through, having grown up in North Cheam on the outskirts of London.</p>
          <p>Craig is a true computer geek, loving all things gadgety, sci-fi and super hero. Naturally, he attained a Computer Science Degree and went on to become a Software Developer, currently working in an exciting role at <a href="//tv.blinkbox.com/app/latest/?avui=tv2&avos=win:desktop:generic&avar=720p&uidesign=lite#/catalogue">blinkbox</a>.</p>
          <p>Craig's hobbies include Mountain Biking, Snow Boarding and anything to do with Computers and Programming</p>
        </div>
      </div>
    </div>
    <br class="clearfloat" />
    <div class="icon-rose"></div>
    <div id="love">
      <h3 title="will follow you forever">Love, True Love</h3>
      <h4>Melinda & Craig</h4>
      <p>The couple first met at a mutual friend's party in October 2011. Melinda willingly exchanged details with Craig, but only after discovering his current flat mate was an IT recruiter and she was looking for a change.</p>
      <p>Craig promptly started chatting via facebook and email, and a month down the line Melinda finally cottoned on that Craig liked her.</p>
      <p>Their first date was making firework cupcakes in Melinda's kitchen for a Guy Fawkes night party. From that day onwards they were virtually inseparable.</p>
      <p>In January 2012, they embarked on their first of many ski trips together. They had such a wonderful time and made it through the whole week in total serenity, which gave Melinda complete confidence that they were ready to live with each other. Just a few months later, in June 2012, they moved in together.</p>
      <p>A year and a half later in December 2013, to Melinda's great surprise, Craig got down on one knee and proposed to his beloved. Naturally she said yes.</p>
    </div>
  </div>
</div>
